@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

.form-instructions {
  margin: 5%;
  border-bottom: v.$border;

  .instructions-container {
    border-bottom: v.$border;
    padding-bottom: 5%;
    margin-bottom: 5%;

    ul {
      li {
        line-height: 1.2em;
      }
    }
  }

  label {
    padding: 10% 0 0;
    color: v.$darkGray;
  }

  form {
    margin: 1% 0 5%;
    
    input[type=number], select[type=number], select[type=text], input::placeholder {
      color: v.$darkGray;
    }

    .input-field {
      border: v.$border;
      border-radius: 3px;
      min-width: 3em;
      height: 2em;
      font-size: 1em;
      padding: 0 1%;
      margin: 1%;
    }

    .error-message {
      font-style: italic;
      color: v.$orange;
    }
    
    button {
      @include m.button(v.$blue);

      &:hover {
        @include m.buttonHover(v.$orange);
      }
    }
  }
}