.form-instructions {
  margin: 5%;
  border-bottom: 1px solid #D3D4D7;

  .instructions-container {
    border-bottom: 1px solid #D3D4D7;
    padding-bottom: 5%;
    margin-bottom: 5%;

    ul {
      li {
        line-height: 1.2em;
      }
    }
  }

  label {
    padding: 10% 0 0;
    color: #35383B;
  }

  form {
    margin: 1% 0 5%;
    
    input[type=number], select[type=number], select[type=text], input::placeholder {
      color: #35383B;
    }

    .input-field {
      border: 1px solid #D3D4D7;
      border-radius: 3px;
      min-width: 3em;
      height: 2em;
      font-size: 1em;
      padding: 0 1%;
      margin: 1%;
    }
    
    button {
      background-color: #2A5BD7;
    }
  }
}