// Fonts
$headerFont: 'ProximaNova-Bold';
$bodyFont: 'ProximaNova-Regular';

// Colors
$offWhite: #f2f2f2;
$almostBlack: #020202;
$bodyGray: #f6f7f7;
$gray: #D3D4D7;
$paleGray: #E5E6E7;
$darkGray: #35383B;
$blue: #2A5BD7;
$orange: #EB5620;
$navy: #0E3042;
$border: 1px solid #D3D4D7;
