@use './Components/Styles/mixins' as m;
@use './Components/Styles/variables' as v;

.App {
  text-align: center;
}

main {
  @include m.flexbox(column, nowrap, center, normal, normal);
  margin: 5% 20%;
  width: 55%;
  height: 100vh;
  background-color: v.$bodyGray;
  border: 1px solid v.$paleGray;
  padding-bottom: 10%;
}

.button-container {
  @include m.flexbox(row, nowrap, normal, center, normal);
  margin-bottom: 10%;
}

button {
  @include m.button(v.$orange);

  &:hover {
    @include m.buttonHover(v.$blue);
  }
}

h1 {
  color: v.$offWhite;
}

h2 {
  font-family: v.$headerFont;
  margin: 0;
}


