.App {
  text-align: center;
}

.race-log-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5% 20%;
  width: 55%;
  height: 100vh;
  background-color: #F6F7F7;
  border: 1px solid #E5E6E7;
}


